page-product-preview {

}
.imagecontainer{
    position: relative;
    max-height: 20em;
    padding: 1em 0;
   margin: auto;
}
.quantityContainer{
    position: absolute;
    right: 0;
    width: 50px;
    top: 10%;
    background-color: #fff;
}